<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/style4.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="indexsignup.html">Sign-Up</a></li>
      <li><a href="indexlogin.html">Log-In</a></li>
    </ul>
  </nav>

  <div class="mainHeader">
    <h1>B i s t F i t</h1>
  </div>

  <div class="container">
    <div id="header">
      <h2>Log - In</h2>
    </div>
    <form>
      <div id="row2" class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" required>
      </div>
      <div id="row3" class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" required>
      </div>
      <div id="button">
        <button type="submit">Login</button>
      </div>
    </form>
    <div id="row5">
      <p>Don't have an account? <a href="../views/indexsignup.html">Sign up</a></p>
    </div>
  </div>

  <div class="middle">
    <img
      src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmYwNGNiOGJkNzFlMmU1ZDU0NjlhYjgyZmJiMDkwNWU5MzEwODI1NiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/J0ud3hmWcZAjPm4cwG/giphy.gif"
      width="200" height="200" alt="Animated GIF">
  </div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close-btn">&times;</span>
      <p>InCorrect Name Or Password </p>
    </div>
  </div>

  <script src="../static/script3.js"></script>

</body>

</html>